@model IEnumerable<ConsultamedicaConfort.Models.Medico>

@{
    ViewData["Title"] = "Médicos";
}

<h1 class="text-primary">Médicos</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Cadastrar Médico</a>
</p>

<table class="table table-striped">
    <thead class="table-primary">
        <tr>
            <th>Nome do médico</th>
            <th>CRM</th>
            <th>Especialidade (sigla)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.CRM</td>
                <td>@item.Especialidade</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
