@model IEnumerable<ConsultamedicaConfort.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}

<h1 class="text-primary">Pacientes</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Cadastrar Paciente</a>
</p>

<table class="table table-striped">
    <thead class="table-primary">
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data de nascimento</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.CPF</td>
                <td>@item.DataNascimento.ToShortDateString()</td>
                <td>@item.Telefone</td>
                <td>@item.Email</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

</table>
